.board {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid;
  margin-bottom: 3rem;
}

.title {
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.buttons {
  margin-bottom: 1rem;
}
